[submodule "plugins/agnoster-zsh-theme"]
	path = plugins/agnoster-zsh-theme
	url = https://github.com/agnoster/agnoster-zsh-theme
[submodule "plugins/calc.plugin.zsh"]
	path = plugins/calc.plugin.zsh
	url = https://github.com/arzzen/calc.plugin.zsh
[submodule "plugins/fast-syntax-highlighting"]
	path = plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "plugins/zsh-you-should-use"]
	path = plugins/zsh-you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "plugins/zsh-notify"]
	path = plugins/zsh-notify
	url = https://github.com/marzocchi/zsh-notify
